<!doctype html>
<html lang="en">
  <head>
    <title>Campeonato Brasileiro 2020</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" id="app">
        <titulo></titulo>
        <div class="row">
          <div class="col-md-12 my-3">
            <button class="btn btn-primary" @click="criarNovoJogo">Novo Jogo</button>
          </div>
        </div>
        <div class="row mb-2" v-if="visao=='placar'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-3">
                <div class="row">
                  <div class="col-8">
                    {{ novoJogo.casa.time ? novoJogo.casa.time.nome : '' }}
                    <img :src="novoJogo.casa.time ? novoJogo.casa.time.escudo : ''" alt="" style="width: 35px; margin: 0 10px;">
                  </div>
                  <div class="col-4">
                    <input type="text" name="" id="" class="form-control" v-model="novoJogo.casa.gols">
                  </div>
                </div>
              </div>
              <div style="flex: 0 0 3.333333%; max-width: 3.333333%; text-align: center;">
                X
              </div>
              <div class="col-3">
                <div class="row">
                  <div class="col-4">
                    <input type="text" name="" id="" class="form-control" v-model="novoJogo.visitante.gols">
                  </div>
                  <div class="col-8">
                    <img :src="novoJogo.visitante.time ? novoJogo.visitante.time.escudo : ''" alt="" style="width: 35px; margin: 0 10px;">
                    {{ novoJogo.visitante.time ? novoJogo.visitante.time.nome : '' }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <button class="btn btn-success" @click="fimJogo">Fim de Jogo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2" v-else>
          <div class="row my-2">
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" v-model="busca">
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <th>Time</th>
              <th style="width: 10%;" v-for="(coluna, indice) in ordem.colunas">
                <a href="#" @click.prevent="ordenar(indice)">{{ coluna | ucwords }}</a>
              </th>
            </thead>
            <tbody>
              <tr v-for="time in timesFiltrados">
                <td>
                  <clube :time="time"></clube>
                </td>
                <td>{{ time.pontos }}</td>
                <td>{{ time.gp }}</td>
                <td>{{ time.gc }}</td>
                <td>{{ time.saldo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-6 my-3">
            <div class="card">
              <div class="card-title">
                <h3>Zona da Liberta</h3>
              </div>  
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" v-for="time in timesLibertadores">
                    <clube :time="time"></clube>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 my-3">
            <div class="card">
              <div class="card-title">
                <h3>Zona da Degola</h3>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" v-for="time in timesRebaixados">
                    <clube :time="time"></clube>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="./time.js"></script>
    <script src="./script.js"></script>
  </body>
</html>